<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>EVS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VoterRegistration</display-name>
    <servlet-name>VoterRegistration</servlet-name>
    <servlet-class>com.wipro.evs.Controller.VoterRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterRegistration</servlet-name>
    <url-pattern>/VoterRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateRegistration</display-name>
    <servlet-name>CandidateRegistration</servlet-name>
    <servlet-class>com.wipro.evs.Controller.CandidateRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateRegistration</servlet-name>
    <url-pattern>/CandidateRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateLogin</display-name>
    <servlet-name>CandidateLogin</servlet-name>
    <servlet-class>com.wipro.evs.Controller.CandidateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateLogin</servlet-name>
    <url-pattern>/CandidateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOperations</display-name>
    <servlet-name>AdminOperations</servlet-name>
    <servlet-class>com.wipro.evs.Controller.AdminOperations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOperations</servlet-name>
    <url-pattern>/AdminOperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoterLogin</display-name>
    <servlet-name>VoterLogin</servlet-name>
    <servlet-class>com.wipro.evs.Controller.VoterLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterLogin</servlet-name>
    <url-pattern>/VoterLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteCount</display-name>
    <servlet-name>VoteCount</servlet-name>
    <servlet-class>com.wipro.evs.Controller.VoteCount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteCount</servlet-name>
    <url-pattern>/VoteCount</url-pattern>
  </servlet-mapping>
</web-app>
